
.logo {
  height: 20px;
  width: 20px;
  border: 1px solid black ;
  border-radius: 50%;
}
.message{
    height:100px;
    width: 300px;
}
.send-btn{
    height: 100px;
    width: 100px;
    border: 1px solid black ;
    border-radius: 100px;
    border-top-width:  37px;
    border-left-width: 29px;
}

.mycard {


    /* box-shadow: 5px 5px #867979; */
    color:black


}

.mycard:hover{
    /* color:orange; */
    box-shadow: 10px 10px #867979;
    transition: background-color 1s;
}
